<section class="header2">
  <blockquote class="blockquote text-center">
    <p class="h1 pt-4">Nossas operadoras</p>
  </blockquote>
  <div class="containeravatar container">
    <div class="row">
      <div class="col-xl-2 col-md-4 padding mb-3">
        <div class="d-flex justify-content-center img-height">
          <img src="../assets/images/facebook-application-icon-147413.jpg">
        </div>
      </div>
      <div class="col-xl-2 col-md-4 padding mb-3">
        <div class="d-flex justify-content-center img-height">
          <img src="../assets/images/facebook-application-icon-147413.jpg">
        </div>
      </div>
      <div class="col-xl-2 col-md-4 padding mb-3">
        <div class="d-flex justify-content-center img-height">
          <img src="../assets/images/facebook-application-icon-147413.jpg">
        </div>
      </div>
      <div class="col-xl-2 col-md-4 padding mb-3">
        <div class="d-flex justify-content-center img-height">
          <img src="../assets/images/facebook-application-icon-147413.jpg">
        </div>
      </div>
      <div class="col-xl-2 col-md-4 padding mb-3">
        <div class="d-flex justify-content-center img-height">
          <img src="../assets/images/facebook-application-icon-147413.jpg">
        </div>
      </div>

      <div class="col-xl-2 col-md-4 padding mb-3">
        <div class="d-flex justify-content-center img-height">
          <img src="../assets/images/facebook-application-icon-147413.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-0 bg-light">
  <div class="container"></div>
  <div class="my-0">
    <div>
      <blockquote class=" blockquote text-center ">
        <p class=" h2 p-3">Nosso Negócio</p>
      </blockquote>
      <div class="card">
        <!-- <div class="card-header text-center">
          Lorem Ipsum is simply
        </div> -->
        <div class="card-body">
          <h5 class="card-title text-center">Lorem Ipsum is simply</h5>
          <p class="card-text text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

        </div>
      </div>
    </div>
  </div>
</section>
