<header>
  <nav class="navbar navbar-light bd-light d-flex flex-row-reverse bd-highlight">
    <img src="../assets/images/logomarca_azul.png" width="200" height="50" alt="" loading="lazy">
  </nav>
</header>

<section class="sectionbody">
  <div class="col-lg-4 p-4 mt-0">
    <p class="lead mt-5"><strong> Consulte sua cobertura</strong> </p>
    <div class="input-group  mb-2  ">
      <input type="text" class="form-control" placeholder="Seu CEP" aria-label="Recipient's username" aria-describedby="button-addon2">
      <input type="text" class="form-control ml-2" placeholder="Número " aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    <div class="input-group-append ">
      <button class="text-light btn btn-dark mt-2" type="button " id="button-addon2">Consultar</button>
    </div>
  </div>
</section>
